wf_endpoint_submission/workflow.json
{
  "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
          "Compose_2": {
              "inputs": {
                  "DateTime": "@{triggerBody()?['DateTime']}",
                  "Patient_ID": "@{triggerBody()?['Patient_ID']}",
                  "Submission_ID": "@{triggerBody()?['Submission_ID']}",
                  "User_Id": "@{triggerBody()?['User_Id']}",
                  "health_status": "@{triggerBody()?['health_status']}",
                  "id": "@{variables('Id_Cosmosdb')}",
                  "symptoms": [
                      {
                          "symptom_1": "Headeack",
                          "symptom_2": "Headeack"
                      }
                  ]
              },
              "runAfter": {
                  "Initialize_Id_Cosmosdb": [
                      "Succeeded"
                  ]
              },
              "type": "Compose"
          },
          "Create_or_update_item": {
              "inputs": {
                  "parameters": {
                      "containerId": "Container_1",
                      "databaseId": "Poc_database",
                      "isUpsert": false,
                      "item": "@outputs('Compose_2')"
                  },
                  "serviceProviderConfiguration": {
                      "connectionName": "AzureCosmosDB",
                      "operationId": "CreateOrUpdateDocument",
                      "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                  }
              },
              "runAfter": {
                  "Compose_2": [
                      "Succeeded"
                  ]
              },
              "type": "ServiceProvider"
          },
          "Initialize_Id_Cosmosdb": {
              "inputs": {
                  "variables": [
                      {
                          "name": "Id_Cosmosdb",
                          "type": "string",
                          "value": "@{guid()}"
                      }
                  ]
              },
              "runAfter": {},
              "type": "InitializeVariable"
          }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "triggers": {
          "manual": {
              "inputs": {
                  "schema": {
                      "properties": {
                          "DateTime": {
                              "type": "string"
                          },
                          "Patient_ID": {
                              "type": "string"
                          },
                          "Submission_ID": {
                              "type": "string"
                          },
                          "User_Id": {
                              "type": "string"
                          },
                          "health_status": {
                              "type": "string"
                          },
                          "symptoms": {
                              "items": {
                                  "properties": {
                                      "symptom_1": {
                                          "type": "string"
                                      },
                                      "symptom_2": {
                                          "type": "string"
                                      }
                                  },
                                  "required": [
                                      "symptom_1",
                                      "symptom_2"
                                  ],
                                  "type": "object"
                              },
                              "type": "array"
                          }
                      },
                      "type": "object"
                  }
              },
              "kind": "Http",
              "type": "Request"
          }
      }
  },
  "kind": "Stateless"
}